<div class="p-home">
  <section class="p-home__fv"></section>

  <section class="p-home__about">
    <h2 class="p-home__about__ttl c-heading--center">sample</h2>
    <div class="p-home__about__txtwrap">
      <p class="p-home__about__txt">サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
      <p class="p-home__about__txt">サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサン</p>
      <p class="p-home__about__txt">サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサン</p>
    </div>
  </section>

  <section class="p-home__contents01">
    <h2 class="p-home__contents01__ttl c-heading--center">sample</h2>
    <ul class="p-home__contents01__list">
      <li class="p-home__contents01__list__item">
        <figure>
          <div class="p-home__contents01__list__item__img">
            <img src="../../img/sample.png" alt="sample">
          </div>
          <figcaption>
            <h3 class="p-home__contents01__list__item__ttl c-heading--center">sample</h3>
            <p class="p-home__contents01__list__item__txt">
              サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="p-home__contents01__list__item">
        <figure>
          <div class="p-home__contents01__list__item__img">
            <img src="../../img/sample.png" alt="sample">
          </div>
          <figcaption>
            <h3 class="p-home__contents01__list__item__ttl c-heading--center">sample</h3>
            <p class="p-home__contents01__list__item__txt">
              サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサン
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="p-home__contents01__list__item">
        <figure>
          <div class="p-home__contents01__list__item__img">
            <img src="../../img/sample.png" alt="sample">
          </div>
          <figcaption>
            <h3 class="p-home__contents01__list__item__ttl c-heading--center">sample</h3>
            <p class="p-home__contents01__list__item__txt">
              サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサルサンプル
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>

  <section class="p-home__contents02">
    <ul class="p-home__contents02__list">
      <li class="p-home__contents02__list__item">
        <figure>
          <div class="p-home__contents02__list__item__img"><img src="../../img/sample.png" alt="img"></div>
          <figcaption>
            <h3 class="p-home__contents02__list__item__ttl c-heading--center">Title</h3>
            <p class="p-home__contents02__list__item__txt">
              サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサルサンプル
            </p>
          </figcaption>
        </figure>
      </li>
      <li class="p-home__contents02__list__item">
        <figure>
          <div class="p-home__contents02__list__item__img"><img src="../../img/sample.png" alt="img"></div>
          <figcaption>
            <h3 class="p-home__contents02__list__item__ttl c-heading--center">Title</h3>
            <p class="p-home__contents02__list__item__txt">
              サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサルサンプル
            </p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>
</div>