<header id="js-header" class="l-header">
  <div class="l-header__wrap">
    <h1 class="l-header__logo"><a href="/"><img src="img/logo.svg" alt="logo"></a></h1>
    <%- include( '_nav.ejs' ); %>
  </div>
</header>