<header class="l-header">
  <div class="l-header__wrap">
    <div class="l-header__logo"><a href="/"><img src="img/logo.svg" alt="logo"></a></div>
    <nav class="l-header__nav">
      <ul class="l-header__nav__list">
        <li class="l-header__nav__list__item"><a href="#test">サンプル</a></li>
        <li class="l-header__nav__list__item"><a href="#test">サンプル</a></li>
        <li class="l-header__nav__list__item"><a href="#test">サンプル</a></li>
      </ul>
    </nav>
  </div>
</header>