<nav id="js-nav" class="l-nav">
  <%- include( '_hamburger.ejs' ); %>
  <ul class="l-nav__list">
    <li class="l-nav__list__item"><a href="#test">サンプル</a></li>
    <li class="l-nav__list__item"><a href="#test">サンプル</a></li>
    <li class="l-nav__list__item"><a href="#test">サンプル</a></li>
  </ul>
</nav>