@use '../foundations' as found;

@include found.mq(pc) {
	.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
    &__wrap{
      width: 95%;
      margin: 0 auto;
      @include found.flexbox
    }
  
    &__logo{
    }
  
    &__nav{
    }
  }
}
