@use '../foundations' as found;

.l-header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;

  &__wrap{
    width: 95%;
    margin: 0 auto;
  }

  &__logo{}

  &__nav{
    display: flex;
  }
}