
<%- include( 'components/_head.ejs', { meta: pageData['home'] } ); %>
<%- include( 'components/_header.ejs' ); %>
  <main><%- include( 'pages/_home.ejs' ); %></main>
<%- include( 'components/_footer.ejs' ); %>